@charset "ISO-8859-1";
root{
	--dorado: rgb(240, 152, 38);
	--navDegRigtW: -webkit-linear-gradient(to right, rgb(34, 32, 31), rgb(3, 22, 30));
	--navDegRigtL: linear-gradient(to right, rgb(34, 32, 31), rgb(3, 22, 30));
	--navDegTopW: -webkit-linear-gradient(to top, rgb(34, 32, 31), rgb(3, 22, 30));
	--navDegTopL: linear-gradient(to top, rgb(34, 32, 31), rgb(3, 22, 30));		
	--navDegBottomW: -webkit-linear-gradient(to bottom, rgb(34, 32, 31), rgb(3, 22, 30));
	--navDegBottomL: linear-gradient(to bottom, rgb(34, 32, 31), rgb(3, 22, 30));
	--azulOscuro: rgb(3 22 30);	
	--negroClaroGoogle:#242120;
	--negroOscuroGoogle: #202124;
}



body{
	background: #242120;
}

main{
	margin-top: 100px ;
	margin-left: 2%;
	margin-right: 3%;
	background: rgb(3 22 30);
	width: 95%;
}

section{
	width: 100%;
	padding: 20px;
}





#font-color-dorado{
	color: --dorado !important;	
}

#img-fondo{
	width: 100%;
}

#content-fondo{
	margin: 5px 10px;
}

.card-header {
    border-bottom: 5px solid #00722e;
	color:  --dorado !important;		 
}

.card-body {
	border-top: 5px solid #00722e !important;
	 
}


.fondo{
	background: red !important;
}

.btn-style{
    background-color:	transparent !important;
	font-size: 25px;
    color:  rgb(240, 152, 38);
    border: 2px solid rgb(240, 152, 38) !important;
    border-left: none !important;
    border-right: none !important;
}

.color-dorado{
	   color:  rgb(240, 152, 38);
		
}

.btn-style:hover{
    background-color:rgb(240, 152, 38) !important;
    color: #00722e;
}

.btn-style1{
    background-color:	transparent !important;
	font-size: 10px;
    color:  rgb(240, 152, 38);
    border: 2px solid rgb(240, 152, 38) !important;
    border-left: none !important;
    border-right: none !important;
}

.btn-style1:hover{
    background-color:rgb(240, 152, 38) !important;
    color: #00722e;
}


